/*     Noto Sans Serif - Font Subset */

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(./fonts/eot/NotoSansKR-Thin-Hestia.eot),
    url(./fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(./fonts/otf/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(./fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(./fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(./fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(./fonts/NotoSansKR/eot/NotoSansKR-DemiLight-Hestia.eot),
    url(./fonts/NotoSansKR/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSansKR/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(./fonts/NotoSansKR/otf/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Regular-Hestia.eot),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSansKR/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(./fonts/NotoSansKR/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Medium-Hestia.eot),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSansKR/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(./fonts/NotoSansKR/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Bold-Hestia.eot),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSansKR/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(./fonts/NotoSansKR/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Black-Hestia.eot),
    url(./fonts/NotoSansKR/eot/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSansKR/woff/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(./fonts/NotoSansKR/otf/NotoSansKR-Black-Hestia.otf) format('opentype');
}

/*     Roboto Sans Serif - Font Subset */
@font-face{ 
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: local('Roboto Black'), local('Roboto-Black'),
    url(./fonts/Roboto/Roboto-Black-webfont.eot),
    url(./fonts/Roboto/Roboto-Black-webfont.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto/Roboto-Black-webfont.ttf) format('truetype'),
    url(./fonts/Roboto/Roboto-Black-webfont.woff) format('opentype'),
    url(./fonts/Roboto/Roboto-Black-webfont.svg#webfont) format('svg');
}

@font-face{ 
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url(./fonts/Roboto/Roboto-Bold-webfont.eot),
    url(./fonts/Roboto/Roboto-Bold-webfont.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto/Roboto-Bold-webfont.ttf) format('truetype'),
    url(./fonts/Roboto/Roboto-Bold-webfont.woff) format('opentype'),
    url(./fonts/Roboto/Roboto-Bold-webfont.svg#webfont) format('svg');
}

@font-face{ 
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url(./fonts/Roboto/Roboto-Medium-webfont.eot),
    url(./fonts/Roboto/Roboto-Medium-webfont.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto/Roboto-Medium-webfont.ttf) format('truetype'),
    url(./fonts/Roboto/Roboto-Medium-webfont.woff) format('opentype'),
    url(./fonts/Roboto/Roboto-Medium-webfont.svg#webfont) format('svg');
}

@font-face{ 
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url(./fonts/Roboto/Roboto-Regular-webfont.eot),
    url(./fonts/Roboto/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto/Roboto-Regular-webfont.ttf) format('truetype'),
    url(./fonts/Roboto/Roboto-Regular-webfont.woff) format('opentype'),
    url(./fonts/Roboto/Roboto-Regular-webfont.svg#webfont) format('svg');
}

@font-face{ 
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: local('Roboto Light'), local('Roboto-Light'),
    url(./fonts/Roboto/Roboto-Light-webfont.eot),
    url(./fonts/Roboto/Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto/Roboto-Light-webfont.ttf) format('truetype'),
    url(./fonts/Roboto/Roboto-Light-webfont.woff) format('opentype'),
    url(./fonts/Roboto/Roboto-Light-webfont.svg#webfont) format('svg');
}

@font-face{ 
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url(./fonts/Roboto/Roboto-Thin-webfont.eot),
    url(./fonts/Roboto/Roboto-Thin-webfont.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto/Roboto-Thin-webfont.ttf) format('truetype'),
    url(./fonts/Roboto/Roboto-Thin-webfont.woff) format('opentype'),
    url(./fonts/Roboto/Roboto-Thin-webfont.svg#webfont) format('svg');
}